
<!-- Intro Start -->

<header class="intro">
  <div class="image-container">
    <div class="image-text">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <!-- <h1 class="brand-heading">&nbsp;</h1> -->
              <!-- <h1 class="brand-heading">&nbsp;</h1> -->
              <h2>&nbsp;</h2>
              <h2>&nbsp;</h2>
              <h2>&nbsp;</h2>
              <h2>&nbsp;</h2>
              <!-- <h4>&nbsp;</h4> -->
              <div class="page-title"> The {{ page.wsorder }} Workshop on Systems & Architectures For Encrypted AI </div>
              <div class="page-text"> {{ page.wsdate }} <br> {{ page.location }} </div>
              <a href="#{{ page.pages_list['About'] }}" class="page-scroll">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Intro End -->
