
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% include navigation.html %}

    {% include header.html %}

<!--    <div class="left-bg"></div>
    <div class="right-bg"></div> -->

    <!-- Site Pages -->
    {% assign year = page.year %}
    {% for p in page.pages_list %}
      {% if p[1] == "submit" %}
       <!-- Submit -->
      {% else %}
        {% assign target_url = "/" | append: year | append: "/" | append: p[1] | append: ".html" %}
        {% assign page = site.pages | where: "url", target_url | first %}
        {% include {{ page.path }} %}
      {% endif %}
    {% endfor %}
  

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
